fire==0.3.1
joblib==1.2.0
numpy==1.18.5
pandas==1.0.4
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
sklearn==0.0
termcolor==1.1.0
threadpoolctl==2.1.0
visidata==1.5.2
watchgod==0.6
matplotlib==3.2.1
geopandas==0.7.0
descartes==1.1.0
